<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>病种介绍</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        #container {
            display: flex;
        }

        #navigation {
            width: 20%;
            background-color: #f0f0f0;
            padding: 20px;
            position: fixed;
            top: 0;
            left: 0;
            height: 95vh;
            overflow-y: auto;
        }

        #content {
            width: 80%;
            padding: 20px;
            margin-left: 25%;
        }

        .disease-link {
            text-decoration: none;
            color: #333;
            display: block;
            margin-bottom: 10px;
            cursor: pointer;
            cursor: pointer;
            font-size: 16px; 
        }

        .disease-link:hover {
            color: #0b44df;
        }

        .disease-title {
            font-size: 24px;
            color:#0b44df;
            margin-bottom: 10px;
        }

        .disease-image {
           width: 500px;
           height: 250px; 
           object-fit: cover; 
           display: block;
           margin: 0 auto;
           margin-bottom: 20px;
        }

        .disease-description {
            font-size: 16px;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="navigation">
            <a class="disease-link" href="#disease1">白癜风</a>
            <a class="disease-link" href="#disease2">病毒感染（如疣、软组织病毒等）</a>
            <a class="disease-link" href="#disease3">痤疮和酒渣鼻</a>
            <a class="disease-link" href="#disease4">典型的脱发和其他头发疾病</a>
            <a class="disease-link" href="#disease5">典型的真菌感染</a>
            <a class="disease-link" href="#disease6">恶性病变如色素性的角化病、基底细胞癌和其他恶性病变</a>
            <a class="disease-link" href="#disease7">光病和色素沉着障碍</a>
            <a class="disease-link" href="#disease8">黑色素瘤、胎记和痣</a>
            <a class="disease-link" href="#disease9">红斑狼疮和其他结缔组织疾病</a>
            <a class="disease-link" href="#disease10">接触性皮炎疾病</a>
            <a class="disease-link" href="#disease11">疥疮莱姆病和其他寄生虫感染和叮咬</a>
            <a class="disease-link" href="#disease12">疱疹、人乳头瘤病毒（HPV）和其他性传播感染</a>
            <a class="disease-link" href="#disease13">皮疹性疾病和药物过敏引起</a>
            <a class="disease-link" href="#disease14">湿疹</a>
            <a class="disease-link" href="#disease15">水疱性皮肤病</a>
            <a class="disease-link" href="#disease16">特应性皮炎</a>
            <a class="disease-link" href="#disease17">细菌感染（如蜂窝织炎和脓疱疮）</a>
            <a class="disease-link" href="#disease18">系统性疾病</a>
            <a class="disease-link" href="#disease19">血管瘤</a>
            <a class="disease-link" href="#disease20">血管炎</a>
            <a class="disease-link" href="#disease21">荨麻疹</a>
            <a class="disease-link" href="#disease22">银屑病、扁平苔藓</a>
            <a class="disease-link" href="#disease23">指甲真菌</a>
            <a class="disease-link" href="#disease24">脂溢性角化病和其他良性肿瘤</a>
    
        </div>
        <div id="content">
            <div id="disease1">
                <h1 class="disease-title">白癜风</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb24.jpg') }}" alt="白癜风">
                <div class="disease-description">
                    <p><strong>概念:</strong> 白癜风是一种慢性的、影响皮肤色素的疾病，其主要特征是在皮肤表面出现一些失去色素的白色斑块。这是由于皮肤中的黑色素细胞（也称为麦拉宁细胞）受到损害或破坏，导致皮肤失去颜色。白癜风可能发生在任何年龄，但多半在儿童和青少年时发病。</p>
                    <p><strong>常见病因:</strong>白癜风的病因有多种，包括遗传因素、自身免疫系统异常、神经精神因素、黑色素细胞自毁等。此外，某些药物或化学物质也可能诱发白癜风。</p>
                    <p><strong>常见症状:</strong>白癜风的常见症状是皮肤出现界限清楚的白色斑块，可发生在身体的任何部位，但面部、颈部、手部等暴露部位更常见。白癜风通常不会引起疼痛或瘙痒，但可能会影响患者的外观和心理健康。</p>
                    <p><strong>治疗方法:</strong>白癜风的治疗方法包括药物治疗、光化学疗法、移植疗法等。治疗的主要目标是控制病情发展，促进黑色素细胞再生，恢复皮肤颜色。然而，目前还没有能够完全治愈白癜风的药物或方法。</p>
                </div>
            </div>


            <div id="disease2">
                <h1 class="disease-title">病毒感染（如疣、软组织病毒等）</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb23.jpg') }}" alt="病毒感染（如疣、软组织病毒等）">
                <div class="disease-description">
                    <p><strong>概念:</strong> 病毒感染是由病毒引起的疾病。病毒是一种微小的病原体，只能在寄生于宿主细胞内才能繁殖。病毒感染可以影响不同部位的身体组织和器官，包括皮肤和软组织。</p>
                    <p><strong>常见病因:</strong>病毒感染的常见病因是不同类型的病毒感染，例如人乳头瘤病毒（HPV）导致的疣、软组织病毒导致的疣等。这些病毒通过直接接触感染源，如感染者的皮肤、黏膜或体液传播。</p>
                    <p><strong>常见症状:</strong>病毒感染的症状因病毒种类而异，但通常包括发热、头痛、咳嗽、流鼻涕、肌肉疼痛、乏力等。</p>
                    <p><strong>治疗方法:</strong>治疗方法因病毒种类和症状而异，包括药物治疗、隔离治疗、支持治疗等。</p>
                </div>
            </div>

            <div id="disease3">
                <h1 class="disease-title">痤疮和酒渣鼻</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb3.jpeg') }}" alt="痤疮和酒渣鼻">
                <div class="disease-description">
                    <p><strong>概念:</strong>痤疮是一种常见的慢性炎症性皮肤病，主要影响面部、胸部和背部的皮肤。它通常由毛囊和皮脂腺的堵塞导致，形成粉刺、丘疹、脓疱和囊肿等病变。</p>
                    <p>酒渣鼻，也称为玫瑰痤疮，是一种发生于鼻及鼻周围皮肤的慢性炎症性疾病。</p>
                    <p><strong>常见病因:</strong>痤疮的发病机制较为复杂，主要与雄激素水平、皮脂分泌过多、毛囊皮脂腺导管角化异常、细菌感染等因素有关。此外，遗传、饮食、生活习惯等因素也可能影响痤疮的发生。</p>
                    <p><strong>常见症状:</strong>常见症状包括粉刺、丘疹、脓疱等，而酒渣鼻的常见症状包括鼻部潮红、毛细血管扩张、丘疹脓疱及鼻部增生等。</p>
                    <p><strong>治疗方法:</strong>包括外用药物和口服药物，外用药物如维A酸类、抗生素类等，口服药物如抗生素类、异维A酸类等。此外，光疗、激光治疗等也可以用于治疗痤疮。</p>
                </div>
            </div>

            <div id="disease4">
                <h1 class="disease-title">典型的脱发和其他头发疾病</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb10.jpg') }}" alt="典型的脱发和其他头发疾病">
                <div class="disease-description">
                    <p><strong>概念:</strong>脱发和其他头发疾病是指与头发相关的疾病，其中某些病因可能涉及病毒感染。脱发是指头发过度脱落或稀疏，可以是局部性或全身性的。其他头发疾病病毒包括头癣和毛囊炎等。</p>
                    <p><strong>常见病因:</strong>常见的脱发原因包括遗传因素、荷尔蒙变化、自身免疫系统异常、营养不良、物理和化学因素等。遗传性脱发是一种常见的脱发类型，雄性激素性脱发是其中之一，这是由于体内雄激素与头顶的毛囊细胞内存在的5α还原酶结合，导致毛囊细胞受损、萎缩、闭合，最终导致脱发。<br>
                        其他常见的头发疾病包括神经性脱发、内分泌脱发、营养性脱发、物理性脱发和感染性脱发等。这些疾病的发病机制各不相同，但都可能影响头发的健康和外观。</p>
                    <p>  <strong>常见症状:</strong>1.脱发：头发稀疏、头皮可见明显的脱发区域或秃斑。<br>  
                        2.头癣：头皮瘙痒、头皮红斑、鳞屑或脓疱的形成。<br>  
                        3.毛囊炎：毛囊周围的红肿、疼痛、脓疱的形成。  
                    </p>
                    <p><strong>治疗方法:</strong>针对不同类型的脱发和头发疾病，治疗方法也有所不同。一般而言，治疗方法包括药物治疗、营养补充、改变生活习惯、理疗等。对于遗传性脱发，常用的药物包括外用药物和口服药物，如米诺地尔、非那雄胺等。对于其他类型的脱发和头发疾病，治疗方法可能包括调整饮食、避免接触有害物质、减轻压力等。</p>
                </div>
            </div>

            <div id="disease5">
                <h1 class="disease-title">典型的真菌感染</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb11.jpg') }}" alt="典型的真菌感染">
                <div class="disease-description">
                    <p><strong>概念:</strong>真菌感染是由真菌引起的疾病。真菌是一类微生物，可以在人体内或外部环境中寄生并引起感染。真菌感染可以影响不同部位的身体，包括皮肤、指甲、口腔、呼吸道和生殖器等。</p>
                    <p><strong>常见病因:</strong>皮肤真菌感染：常见的病因包括癣菌感染、念珠菌感染等，通常是由接触感染源，如感染者的皮肤、衣物、公共场所等传播。<br>
                        念珠菌口腔感染：常见的病因是念珠菌属真菌，通常是由免疫系统受损、抗生素使用过度、口腔卫生不良等因素导致。<br>
                        呼吸道真菌感染：常见的病因包括肺孢子菌感染、曲霉菌肺炎等，通常是由吸入真菌孢子引起。</p>
                    <p><strong>常见症状:</strong>皮肤真菌感染：皮肤瘙痒、红斑、脱屑、水疱或疱疹的形成。<br>
                        念珠菌口腔感染：口腔疼痛、口腔溃疡、白色斑点或斑块的形成。<br>
                        呼吸道真菌感染：咳嗽、呼吸困难、胸痛、发热等。</p>
                    <p><strong>治疗方法:</strong>轻微细菌感染：常用抗真菌霜剂进行治疗，例如咪康唑、联苯苄唑。严重的患者可以口服伊曲康唑或者特比奈芬治疗。<br>
                        注意事项：日常生活中要使感染部位保持清洁、干燥，抑制真菌的繁殖，促进伤口的愈合。</p>
                </div>
            </div>

            <div id="disease6">
                <h1 class="disease-title">恶性病变如色素性的角化病、基底细胞癌和其他恶性病变</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb20.jpg') }}" alt="恶性病变如色素性的角化病、基底细胞癌和其他恶性病变">
                <div class="disease-description">
                    <p><strong>概念:</strong>恶性病变，包括色素性的角化病、基底细胞癌和其他恶性病变，是指异常的细胞不受控制地进行增殖，形成肿瘤，并可能对机体造成损害的疾病。 </p>
                    <p><strong>常见病因:</strong>色素性的角化病：色素性的角化病的具体病因尚不清楚，但长期阳光暴露、遗传因素和年龄等可能与其发生有关。<br>
                        基底细胞癌：基底细胞癌通常与长期的紫外线暴露有关，尤其是阳光暴晒。遗传因素和其他环境因素也可能对其发生起作用。<br>
                        其他恶性病变：其他恶性病变包括多种类型的癌症，如黑色素瘤、鳞状细胞癌等。这些疾病的病因、症状和治疗方法各不相同，但常见的病因可能包括遗传因素、环境暴露（如紫外线、化学物质）、免疫系统受损等。</p>
                    <p><strong>常见症状:</strong>色素性的角化病：色素性的角化病通常表现为皮肤上出现深褐色或黑色的斑块或病变，可能伴有鳞屑、角化和增厚。<br>
                          <p>基底细胞癌:基底细胞癌常见症状包括出现在头部、颈部或其他暴露部位的慢性溃疡样病变、小的皮肤肿块、血管扩张、溃疡和痂皮等。</p>
                    <p><strong>治疗方法:</strong>对于这些恶性病变的治疗，手术切除是常用的方法，同时可能需要进行放疗或化疗等辅助治疗。治疗的目标是尽可能地清除肿瘤细胞，减少复发的可能性，同时尽可能地保留正常的组织和器官功能。</p>
                        <p>在日常生活中，人们应该注意保护皮肤，避免长时间的紫外线照射，及时处理皮肤损伤和炎症，以预防皮肤癌的发生。对于已经诊断为皮肤癌的患者，应根据医生的建议进行治疗，并定期进行复查和随访。</p>
                </div>
            </div>

            <div id="disease7">
                <h1 class="disease-title">光病和色素沉着障碍</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb1.jpg') }}" alt="光病和色素沉着障碍">
                <div class="disease-description">
                    <p><strong>概念:</strong> 光病是指皮肤对紫外线或可见光敏感，出现异常反应的一类疾病。<br>
                        色素沉着障碍是指皮肤色素过度或不均匀沉着而导致的疾病，使皮肤部位的颜色变暗或出现色斑。</p>
                    <p><strong>常见病因:</strong> 光病可以由多种因素引起，包括遗传因素、药物引起的光敏感、光过敏症等。<br>
                        色素沉着障碍可以由多种因素引起，如紫外线暴露、荷尔蒙变化、炎症、遗传因素、药物使用等。</p>
                    <p><strong>常见症状:</strong>光病通常表现为皮肤出现棕色或黑色的斑点或斑片。光病的发生与个人体质、遗传因素、环境因素等有关，尤其是在长期或过度暴露于阳光下的人群中较为常见。<br>
                        色素沉着过度通常表现为皮肤出现黄褐斑、雀斑、黑痣等，而色素沉着不足则表现为皮肤出现白斑、白癜风等。色素沉着障碍的发生可能与个人体质、内分泌因素、感染、化学物质等有关。</p>
                    <p><strong>治疗方法:</strong>1.避免暴露于有害光线：对于光病患者，应尽量避免暴露于紫外线或其他有害光线，使用防晒霜、戴帽子、穿长袖衣服等措施来保护皮肤。<br>
                        2.药物治疗：可以使用一些药物来减轻炎症和促进色素代谢，如维生素C、维生素E、氢醌霜等。<br>
                        3.激光治疗：对于色素沉着过度和色素沉着不足的患者，可以使用激光治疗来去除色素或促进色素再生，以达到治疗目的。<br>
                        4.化学剥脱：使用化学药物来剥脱皮肤表层，以达到去除色素沉着的目的。<br>
                        5.手术治疗：对于一些严重的色素沉着障碍，可能需要手术治疗。</p>
                </div>
            </div>

            <div id="disease8">
                <h1 class="disease-title">黑色素瘤、胎记和痣</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb13.jpg') }}" alt="黑色素瘤、胎记和痣">
                <div class="disease-description">
                    <p><strong>概念:</strong>黑色素瘤是一种恶性肿瘤，源于皮肤中的黑色素细胞（产生皮肤颜色的细胞）。<br>
                        胎记是出生时或在婴儿出生后几周内出现的皮肤上的色素沉着或血管扩张。<br>
                        痣是皮肤上的色素细胞聚集形成的小斑点或斑块，也被称为黑痣或痣状母斑。</p>
                    <p><strong>常见病因:</strong>紫外线暴露是最常见的黑色素瘤病因之一。其他风险因素包括有家族病史、多发性痣、免疫系统受损等。<br>
                        胎记的病因包括血管发育异常、色素细胞聚集等，具体原因取决于胎记的类型。<br>
                        痣的形成通常与遗传因素和日晒暴露有关。个体的基因变异可以导致多发性痣的出现。</p>
                    <p><strong>常见症状:</strong>常见的黑色素瘤症状包括痣或皮肤上出现新的黑色或深褐色病变、病变形状不规则、边界不清晰、颜色不均匀、增大或变化等。<br>
                        胎记的症状可以是色素沉着（如褐色斑块）或血管扩张（如红色斑点），其形状、大小和部位各不相同。<br>
                        痣通常是圆形或椭圆形的，颜色可以是褐色、黑色或浅棕色。它们可以是平坦的或稍微凸起的，通常没有症状。</p>
                    <p><strong>治疗方法:</strong>1.黑色素瘤：治疗方法包括手术切除、放疗、化疗、免疫疗法和靶向治疗等。具体的治疗方案将根据黑色素瘤的分期、深度和其他因素而定。<br>
                    2.胎记：胎记的治疗方法取决于类型和病情。一些小型胎记会在儿童成长过程中自行消退，而其他情况可能需要激光治疗、手术切除、冷冻疗法、药物治疗等。<br>
                    3.痣:大多数痣是良性的，无需特殊治疗。然而，如果痣有不寻常的形状、颜色、大小或发生变化，应咨询医生以评估是否需要进一步检查或治疗。</p>
                </div>
            </div>


            <div id="disease9">
                <h1 class="disease-title">红斑狼疮和其他结缔组织疾病</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb2.jpg') }}" alt="红斑狼疮和其他结缔组织疾病">
                <div class="disease-description">
                    <p><strong>概念:</strong>结缔组织疾病是一类影响结缔组织的疾病，包括类风湿性关节炎、硬皮病、干燥综合征、多发性肌炎和皮肌炎等。<br>
                        红斑狼疮是一种慢性的自身免疫性疾病，主要影响皮肤、关节、肾脏、心脏、肺等器官。</p>
                    <p><strong>常见病因:</strong>这些疾病的确切病因尚不明确，可能与遗传、免疫功能异常、环境因素等有关。</p>
                    <p><strong>常见症状:</strong>不同结缔组织疾病的症状有所不同。一般症状包括关节疼痛和肿胀、皮肤硬化、皮疹、肌肉无力、疲劳、干燥等。<br>
                        红斑狼疮的症状多样，可以包括疲劳、发热、关节痛、皮疹（蝶形红斑等）、肾脏损伤、心脏炎症、呼吸系统症状等，症状可以波动性出现和加重。</p>
                    <p><strong>治疗方法:</strong>治疗方法因不同的结缔组织疾病而异。常用的治疗手段包括抗炎药物、免疫抑制剂、糖皮质激素、物理疗法、康复治疗等。治疗方案将根据病情和病人的个体情况进行个体化制定。</p>
                </div>
            </div>


            <div id="disease10">
                <h1 class="disease-title">接触性皮炎疾病</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb4.jpg') }}" alt="接触性皮炎疾病">
                <div class="disease-description">
                    <p><strong>概念:</strong> 接触性皮炎是一种过敏性疾病，通常由于皮肤接触某些物质引起。这些物质可能是化学物质、植物、动物等，导致皮肤出现红斑、瘙痒、肿胀等症状。</p>
                    <p><strong>常见病因:</strong>1.原发性刺激：接触物对皮肤具有很强的刺激，任何人接触后都会发生皮炎。<br>
                        2.变态反应：某些患者对于某些物质有过敏反应，导致接触性皮炎的发生。</p>
                    <p><strong>常见症状:</strong>轻度：局部皮肤呈红斑、瘙痒、肿胀。<br>
                        重度：红斑、肿胀非常明显，伴有丘疹、水疱等情况，水疱破裂可能导致皮肤糜烂。</p>
                    <p><strong>治疗方法:</strong>1.找出过敏原：避免再次接触该种物质是首要治疗措施。<br>
                        2.冲洗清除：使用生理盐水等冲洗清除接触物。<br>
                        3.药物治疗：口服或注射药物以减轻症状。根据不同程度的症状，选择不同的药物进行治疗。<br>
                        4.外敷：对于不同的症状，选择不同的药物进行外敷也是有效的治疗方式。</p>
                </div>
            </div>


            <div id="disease11">
                <h1 class="disease-title">疥疮莱姆病和其他寄生虫感染和叮咬</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb15.jpg') }}" alt="疥疮莱姆病和其他寄生虫感染和叮咬">
                <div class="disease-description">
                    <p><strong>概念:</strong>疥疮是由疥螨寄生在人体皮肤表皮内所引起的一种皮肤病。<br>
                        莱姆病是一种由伯氏包柔螺旋体所致的自然疫源性疾病。<br>
                        其他寄生虫感染和叮咬包括蚊虫叮咬、跳蚤叮咬、臭虫叮咬等。</p>
                    <p><strong>常见病因:</strong>疥疮的主要病因是疥螨的感染，通常通过密切接触或共享个人物品传播。<br>
                        莱姆病的病因是蜱叮咬传播的莱姆病螺旋体感染。蜱通常寄生于草丛、灌木丛和草地等区域。<br>
                        其他寄生虫感染是这些寄生虫通过咬伤皮肤或直接接触传播。</p>
                    <p><strong>常见症状:</strong> 疥疮典型症状包括剧烈瘙痒、夜间加重、皮肤红斑、丘疹、水泡和结痂等。常见病灶包括手腕、指间、腋窝、腹股沟和乳房下等处。<br>
                        莱姆病的症状多样，早期症状可以包括发热、疲劳、头痛、肌肉和关节疼痛、皮肤红斑（伴有蜚蠊状皮疹）等。进展期症状可能涉及神经系统、心脏和关节等。<br>
                        其他寄生虫感染和叮咬症状常表现为局部红肿、瘙痒、疼痛等过敏反应。</p>
                    <p><strong>治疗方法:</strong>治疗疥疮通常包括使用抗寄生虫药物，如皮下注射的伊维菌素（Ivermectin）或外用的氯硝柳胺（Permethrin）等。同时，还需清洁和消毒个人物品、床上用品和衣物，以防止再感染。<br>
                        莱姆病的治疗通常包括使用抗生素，如口服的多西环素（Doxycycline）或静脉注射的头孢曲松（Ceftriaxone）等。治疗持续时间和方案将根据疾病的阶段和病情而定。</p>
                    <p>对于任何寄生虫感染或叮咬，建议以下措施：<br>
                        保持个人卫生和环境清洁。<br>
                        避免进入蜱的寄生区域，如果进入，注意穿戴长袖长裤，使用驱虫剂。<br>
                        在户外活动后仔细检查身体，尤其是在可能寄生蜱的部位，如腋窝、腰部、膝盖后等。<br>
                        对于蜱的及时发现，使用正确的方法将其取出，避免挤压蜱体。<br>
                        如果出现任何寄生虫感染或叮咬的症状，及时就医咨询专业医生，以获取准确的诊断和个体化的治疗建议。</p>
                </div>
            </div>


            <div id="disease12">
                <h1 class="disease-title">疱疹、人乳头瘤病毒（HPV）和其他性传播感染</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb18.jpg') }}" alt="疱疹、人乳头瘤病毒（HPV）和其他性传播感染">
                <div class="disease-description">
                    <p><strong>概念:</strong>性传播感染是指通过性接触传播的疾病，如梅毒、淋病等。<br>
                        疱疹是由单纯疱疹病毒（HSV）感染引起的常见性传播疾病。主要分为两种类型：HSV-1和HSV-2。<br>
                        人乳头瘤病毒（HPV）感染是一种性传播的病毒感染，引起生殖器疣和部分癌症，如宫颈癌和其他生殖器癌症。</p>
                    <p><strong>常见病因:</strong>病原体主要包括细菌、病毒、衣原体等。<br>
                        疱疹病毒是主要病原体，包括单纯疱疹病毒、水痘-带状疱疹病毒等。<br>
                        HPV主要通过性接触传播，也可通过接触感染者的衣物、生活用品等传播。</p>
                    <p><strong>常见症状:</strong>根据不同的病原体，症状也不同，如梅毒的硬下疳、淋病的尿道炎等。<br>
                        疱疹的常见症状有皮肤和黏膜出现水疱、疼痛、瘙痒等症状，伴有全身不适、发热等症状。<br>
                        HPV感染可引起各种症状，如生殖器疣、皮肤疣等。长期感染某些类型的HPV可能导致宫颈癌、肛门癌等恶性肿瘤。</p>
                    <p><strong>治疗方法:</strong>疱疹的治疗主要是使用抗病毒药物，如阿昔洛韦、伐昔洛韦等，同时注意保持皮肤清洁和卫生。<br>
                        HPV的治疗主要是根据不同类型的HPV选择不同的治疗方法，如物理治疗、手术切除、药物治疗等。同时，对于高危型HPV感染，需要进行宫颈细胞学检查和阴道镜检查等，以便早期发现和治疗恶性肿瘤。<br>
                        对于不同的性传播感染，需要使用不同的药物治疗，如抗生素、抗病毒药物等。同时，需要采取预防措施，如使用避孕套、避免性滥交等。</p>
                </div>
            </div>


            <div id="disease13">
                <h1 class="disease-title">皮疹性疾病和药物过敏引起</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb17.jpg') }}" alt="皮疹性疾病和药物过敏引起">
                <div class="disease-description">
                    <p><strong>概念:</strong>皮疹性疾病是指引起皮肤出现异常皮疹或斑块的疾病，可以由多种因素引起，包括感染、过敏、自身免疫等。<br>
                        药物过敏是指个体对药物成分产生过敏反应，其中包括引起皮肤出现异常皮疹的过敏反应。</p>
                    <p><strong>常见病因:</strong> 皮疹性疾病的病因多种多样，常见的包括药物过敏、食物过敏、接触过敏、感染（如病毒、细菌、真菌等）和自身免疫反应等。<br>
                        药物过敏可以由多种药物引起，包括抗生素、非甾体抗炎药、抗癫痫药物等。每个人对药物的过敏反应可能不同。</p>
                    <p><strong>常见症状:</strong>皮疹性疾病的症状取决于具体的疾病类型和引起皮疹的原因。常见症状包括皮疹、红斑、丘疹、水疱、瘙痒、脱屑等。有些疾病可能还伴随其他症状，如发热、关节痛等。<br>
                        药物过敏引起的皮疹症状多样，可能表现为红斑、丘疹、水疱、荨麻疹等。严重的药物过敏反应可能导致瘙痒、呼吸困难、血压下降等全身性症状，甚至危及生命。</p>
                    <p><strong>治疗方法:</strong>皮疹性疾病的治疗方法因疾病类型和病因而异。常见的治疗方法包括使用外用药物（如激素类药物、抗组胺药物等）、口服药物（如抗生素、抗过敏药物等）、光疗（紫外线照射）和对症治疗（如止痒药物、保湿剂等）。对于自身免疫性皮肤病，可能需要使用免疫调节药物。<br>
                        对于药物过敏引起的皮疹，首要的治疗措施是停用引起过敏的药物。医生可能会推荐抗过敏药物，如抗组胺药物和类固醇，来缓解症状。严重的过敏反应可能需要紧急治疗，如使用肾上腺素注射剂。</p>
                </div>
            </div>


            <div id="disease14">
                <h1 class="disease-title">湿疹</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb16.jpg') }}" alt="湿疹">
                <div class="disease-description">
                    <p><strong>概念:</strong>湿疹是一种非传染性的炎症性皮肤病，主要表现为皮肤干燥、瘙痒、红肿、起水疱、结痂和溃疡等症状。湿疹通常是一种慢性反复发作的病症，可以影响任何年龄段的人，但在婴儿和儿童中更为常见。 </p>
                    <p><strong>常见病因:</strong>湿疹的病因复杂，包括内外因素的作用。内因包括消化系统疾病、情绪变化、失眠、内分泌失调等；外因有气候变化、食物摄入等，另外还有一些外界刺激如寒冷、干燥、动物皮毛、化妆品、人造纤维等均可诱发湿疹。</p>
                    <p><strong>常见症状:</strong>湿疹的常见症状包括皮肤瘙痒、发红、肿胀、丘疹和水疱等。在急性期，皮肤可能表现为红肿、丘疹和水疱，并伴有剧烈瘙痒。在慢性期，皮肤可能变得粗糙、肥厚，并伴有色素沉着和鳞屑。</p>
                    <p><strong>治疗方法:</strong>湿疹的治疗方法包括局部用药和口服药物。局部用药包括抗过敏药、抗炎药和止痒药等。口服药物包括抗组胺药、抗生素等。同时，应注意保持皮肤清洁和湿润，避免接触过敏原和刺激物。</p>
                </div>
            </div>


            <div id="disease15">
                <h1 class="disease-title">水疱性皮肤病</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb9.jpg') }}" alt="水疱性皮肤病">
                <div class="disease-description">
                    <p><strong>概念:</strong>水疱性皮肤病是一类疾病，其特征是在皮肤上形成水疱。这些水疱可能是透明或浑浊的，大小不一，可以单个或多个存在。水疱性皮肤病包括多种类型，如天疱疮、丘疹性荨麻疹、天疱症、接触性皮炎等。 </p>
                    <p><strong>常见病因:</strong>水疱性皮肤病的常见病因包括病毒感染和免疫系统失调。其中，单纯疱疹病毒（HSV）是最常见的病毒感染原因，可以通过直接接触患者的皮肤或黏膜传播。免疫系统功能低下，如压力大、生活不规律或患有其他慢性基础性健康问题时，也容易导致水疱性皮肤病的发病。</p>
                    <p><strong>常见症状:</strong> 水疱性皮肤病的症状因疾病类型而异。唇周皮肤感染（简称“唇周口腔”）主要出现在嘴唇附近，初期会有灼热感、刺激感，并伴随小水泡形成。生殖器区域感染（简称“生殖器疱疹”）主要发生在男性和女性的生殖器部位，初次感染常伴有发热、乏力等全身不适症状。水泡状皮肤损害（简称“水泡性皮肤”）可出现在身体任何部位，包括面部、颈部、背部等。</p>
                    <p><strong>治疗方法:</strong> 水疱性皮肤病的治疗方法因疾病类型和严重程度而异。一般来说，对于病毒感染引起的水疱性皮肤病，可以使用抗病毒药物进行治疗，如阿昔洛韦、伐昔洛韦等。对于免疫系统失调引起的水疱性皮肤病，可以使用免疫调节药物进行治疗，如糖皮质激素、免疫抑制剂等。此外，局部外用药物也可以缓解症状，如炉甘石洗剂、红霉素软膏等。</p>
                </div>
            </div>


            <div id="disease16">
                <h1 class="disease-title">特应性皮炎</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb8.jpg') }}" alt="特应性皮炎">
                <div class="disease-description">
                    <p><strong>概念:</strong>特应性皮炎是一种慢性、复发性的皮肤炎症，主要表现为皮肤干燥、瘙痒、红肿、起皮、结痂和疱疹。它通常发生在婴幼儿和儿童期，但也可以持续到成年。 </p>
                    <p><strong>常见病因:</strong>特应性皮炎的病因包括遗传因素、免疫学说、环境因素等。遗传因素是指患者家族中存在过敏性疾病的遗传史，如哮喘、过敏性鼻炎等。免疫学说认为，特应性皮炎与免疫系统的异常反应有关，如T淋巴细胞和嗜酸性粒细胞等炎症细胞的浸润。环境因素包括气候变化、食物过敏原等，也与特应性皮炎的发病有关。</p>
                    <p><strong>常见症状:</strong>特应性皮炎的症状可分为婴儿期、儿童期、青少年与成人期三个阶段。婴儿期的特应性皮炎通常表现为双侧面颊的红斑，继而出现丘疹、丘疱疹等，患儿会因剧烈瘙痒而影响睡眠和生长发育。儿童期的特应性皮炎皮损可累及四肢并伴有皮肤肥厚如苔藓。青少年与成人期的特应性皮炎皮损累及的范围更加广泛，既可出现红斑、糜烂等急性期损害，也可表现为皮肤肥厚如苔藓等慢性损害。</p>
		    <p><strong>治疗方法:</strong>特应性皮炎的治疗方法包括药物治疗和生活方式调整。<br>
                        药物治疗方面，局部外用糖皮质激素是特应性皮炎的一线疗法，可以快速控制炎症，减轻症状。常用的药物有氢化可的松、曲安奈德、卤米松等。此外，在医生指导下外用抗菌药物如莫匹罗星、夫西地酸软膏，可减少细菌和真菌定植，避免加重局部炎症。瘙痒是特应性皮炎的最主要症状，可用抗组胺类药西替利嗪和其他药物联合治疗。<br>
                        生活方式调整方面，建议合理洗浴，要避免各种机械、化学物质、漂白剂的刺激，以免加重病情。</p>
                </div>
            </div>



            <div id="disease17">
                <h1 class="disease-title">细菌感染（如蜂窝织炎和脓疱疮）</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb22.jpg') }}" alt="细菌感染（如蜂窝织炎和脓疱疮）">
                <div class="disease-description">
                    <p><strong>概念:</strong> 细菌感染是指细菌侵入人体组织或器官，繁殖并引起炎症反应的过程。蜂窝织炎和脓疱疮是两种常见的细菌感染。</p>
                    <p><strong>常见病因:</strong>细菌感染的常见原因包括身体免疫力下降、伤口感染、环境卫生不良等。例如，蜂窝织炎通常发生在皮肤受伤后，如手术切口、烧伤、咬伤等，由于细菌从伤口进入体内而引起感染。脓疱疮则是由金黄色葡萄球菌和乙型溶血性链球菌等细菌感染引起的，这些细菌通常存在于皮肤表面，当皮肤破损或免疫力下降时，就会导致感染。</p>
                    <p><strong>常见症状:</strong>细菌感染的症状因感染的部位和严重程度而异。蜂窝织炎的常见症状包括皮肤发红、肿胀、疼痛、发热等，有时还可能出现寒战、发热、恶心、呕吐等全身症状。脓疱疮的症状包括皮肤上出现水疱、脓疱，破溃后有黄色液体流出，周围皮肤发红、疼痛，有时还伴有发热等症状。</p>
                    <p><strong>治疗方法:</strong>细菌感染的治疗方法主要包括使用抗生素、清洁伤口、控制感染等。对于蜂窝织炎和脓疱疮等皮肤感染，通常会使用口服或外用抗生素，如头孢菌素、青霉素等。此外，伤口需要清洁和消毒，以防止细菌进一步感染。如果感染较严重，可能需要手术治疗或住院治疗。</p>
                </div>
            </div>

            <div id="disease18">
                <h1 class="disease-title">系统性疾病</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb3.jpg') }}" alt="系统性疾病">
                <div class="disease-description">
                    <p><strong>概念:</strong>系统性疾病是指累及全身多个器官或系统的疾病，其病因和病理机制可能涉及免疫系统异常、遗传因素、环境因素等。 </p>
                    <p><strong>常见病因:</strong>系统性疾病的病因可以是遗传、环境、免疫系统异常等多种因素。例如，自身免疫性疾病如系统性红斑狼疮（SLE）和类风湿关节炎等是由于免疫系统异常攻击自身组织导致。而一些慢性疾病如高血压、糖尿病等则可能与遗传、环境等因素有关。</p>
                    <p><strong>常见症状:</strong>系统性疾病的症状通常涉及多个器官或系统。例如，SLE患者可能会出现关节疼痛、面部红斑、肾脏损伤等症状；而高血压患者则可能出现头痛、头晕、胸闷等症状。这些症状可能因人而异，具体取决于疾病类型和个体差异。</p>
                    <p><strong>治疗方法:</strong>系统性疾病的治疗方法因疾病类型而异。对于一些慢性疾病如高血压、糖尿病等，需要长期控制饮食、规律作息、定期监测血糖血压等；对于自身免疫性疾病如SLE和类风湿关节炎等，可能需要使用免疫抑制剂、抗炎药等进行治疗。此外，对于一些严重系统性疾病如心脏病、癌症等，可能需要进行手术治疗或化学治疗等综合治疗。</p>
                </div>
            </div>

            <div id="disease19">
                <h1 class="disease-title">血管瘤</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb6.jpg') }}" alt="血管瘤">
                <div class="disease-description">
                    <p><strong>概念:</strong>血管瘤是一种先天性的良性肿瘤，通常在婴儿出生时或出生后不久出现。它是由胚胎期间成血管细胞增生形成的，常见于皮肤和软组织内。 </p>
                    <p><strong>常见病因:</strong>血管瘤的常见病因包括遗传因素和环境因素。遗传因素是指患者家族中存在过敏性疾病的遗传史，如哮喘、过敏性鼻炎等。环境因素包括气候变化、食物过敏原等，也与血管瘤的发病有关。</p>
                    <p><strong>常见症状:</strong>血管瘤的常见症状包括皮肤上出现红色或紫色的瘤体，边界清楚，形状可不隆起，表面温度正常，无自觉症状。随着婴儿的生长，瘤体可能会逐渐增大，但通常在青春期前后停止生长。在严重的情况下，血管瘤可能会引起溃疡、血栓、大出血等症状。</p>
                    <p><strong>治疗方法:</strong>血管瘤的治疗方法包括药物治疗、激光治疗及手术治疗等。常用的药物包括普萘洛尔和糖皮质激素等，可以减轻血管瘤的症状。激光治疗适用于表浅的血管瘤，具有创伤小、恢复快的优点。手术治疗适用于较大的血管瘤，但创伤较大，恢复时间较长。</p>
                </div>
            </div>

            <div id="disease20">
                <h1 class="disease-title">血管炎</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb21.jpg') }}" alt="血管炎">
                <div class="disease-description">
                    <p><strong>概念:</strong>血管炎是指血管壁发生炎症反应的疾病，可以影响各种类型的血管，包括小型血管、中型血管和大型血管。 </p>
                    <p><strong>常见病因:</strong>血管炎的病因复杂，包括遗传、内分泌、感染、肿瘤、慢性炎症性疾病、药物、环境等因素。此外，病原体如链球菌、结核分枝杆菌、肝炎病毒、金黄色葡萄球菌、立克次体等也可能直接攻击血管壁，引发血管炎症反应。</p>
                    <p><strong>常见症状:</strong>血管炎患者的临床症状复杂多样，包括全身症状和局部症状。全身症状如发热、盗汗、乏力、恶心、体重下降、全身不适、月经不调等；局部症状指受累血管炎症及其供血脏器缺血的临床表现，如疼痛、麻木、感觉异常等。此外，血管炎患者还可能出现血管狭窄、闭塞，导致脏器缺血、梗死、功能衰竭等，或因血管扩张、瘤样病变导致动脉破裂、失血性休克甚至死亡。</p>
                    <p><strong>治疗方法:</strong>血管炎的治疗方法包括去除病因、消除过敏原，治疗基础疾病如结缔组织病、肿瘤等。此外，药物治疗也是常用的方法，如使用糖皮质激素、甲氨蝶呤、来氟米特、硫唑嘌呤、利妥昔单抗等免疫抑制剂，以及抗组胺类药如氯苯那敏和非甾体类抗炎药吲哚美辛（消炎痛）、布洛芬等。对于局限于皮肤的血管炎，常用抗组胺类药如氯苯那敏，非甾体类抗炎药吲哚美辛（消炎痛）、布洛芬等。</p>
                </div>
            </div>


            <div id="disease21">
                <h1 class="disease-title">荨麻疹</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb7.jpg') }}" alt="荨麻疹">
                <div class="disease-description">
                    <p><strong>概念:</strong>荨麻疹是一种过敏反应引起的疾病，它通过释放组织内的化学物质（如组胺）导致血管扩张和皮肤组织的炎症反应，从而产生典型的瘙痒、红肿的皮肤症状。 </p>
                    <p><strong>常见病因:</strong>常见病因：荨麻疹可以由多种病因引起，包括：<br>
                        过敏反应：对食物、药物、昆虫叮咬、花粉等过敏原的过敏反应是最常见的荨麻疹病因。<br>
                        特定疾病：某些疾病，如风湿性关节炎、甲状腺功能亢进等，可以引发荨麻疹。<br>
                        感染：某些病毒或细菌感染也可能导致荨麻疹的发生。<br>
                        物理因素：如寒冷、热、紫外线照射、压力等物理刺激也可以引发荨麻疹。</p>
                    <p><strong>常见症状:</strong>荨麻疹的皮损为风团，发生及消退迅速，消退后不留痕迹。这些疹子大多会在24小时内自动消退，但新的风团又会陆续出现，此起彼伏。病情严重者伴有心慌、烦躁、恶心、呕吐、血压降低、休克等症状，部分患者还会牵连肠胃，引起腹痛、腹泻。如果累及咽喉，会出现呼吸困难，甚至窒息。</p>
                    <p><strong>治疗方法:</strong>1.避免触发因素：如果能够确定引发荨麻疹的具体原因，避免接触或暴露于这些因素可以减轻症状。<br>
                        2.抗组胺药物：口服或局部应用的抗组胺药物可以减轻瘙痒和红肿，如非处方的酮替芬和洛维他定等。<br>
                        3.糖皮质激素：对于严重症状的荨麻疹，医生可能会开具口服或局部应用的糖皮质激素药物，以减轻炎症反应。<br>
                        4.免疫抑制剂：在某些严重或慢性病例中，医生可能会考虑使用免疫抑制剂来调节免疫反应。<br>
                        5.其他药物治疗：根据具体情况，医生可能会选择其他药物治疗，如抗体药物、抗白细胞介素等。</p>
                </div>
            </div>

            <div id="disease22">
                <h1 class="disease-title">银屑病、扁平苔藓</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb12.jpg') }}" alt="银屑病、扁平苔藓">
                <div class="disease-description">
                    <p><strong>概念:</strong>银屑病是一种慢性、非传染性的自身免疫性皮肤病，其特征是皮肤上出现红色、鳞屑状的斑块。<br>
                        扁平苔藓是一种常见的慢性炎症性皮肤病，其特征是皮肤上出现紫红色、扁平或微隆起的斑块。</p>
                    <p><strong>常见病因:</strong>银屑病的病因复杂，包括遗传、免疫、感染、环境等多种因素。其中，遗传因素是重要的致病因素之一，但并不是所有患有银屑病的人都有遗传史。免疫因素在银屑病的发病中也起到重要作用，包括免疫系统的异常和炎症反应等。此外，感染、环境因素等也可能诱发或加重银屑病。<br>
                        扁平苔藓的病因尚不明确，可能涉及免疫、遗传、感染等多种因素。其中，免疫因素在扁平苔藓的发病中起到重要作用，包括自身免疫反应和炎症反应等。此外，遗传和感染因素也可能与扁平苔藓的发生有关。</p>
                    <p><strong>常见症状:</strong>银屑病的症状包括皮肤上出现红色斑块，表面覆盖着银白色的鳞屑，可伴有瘙痒、灼热感或疼痛。红斑和鳞屑通常出现在躯干、四肢和头皮等部位，严重时也可能累及全身皮肤。<br>
                        扁平苔藓的症状包括皮肤上出现紫红色或暗红色的丘疹或斑块，表面可能伴有鳞屑或溃疡，可伴有瘙痒或疼痛。丘疹或斑块通常出现在四肢、躯干、头皮等部位，也可能累及黏膜皮肤，如口腔、肛门等。</p>
                    <p><strong>治疗方法:</strong>银屑病的治疗方法包括外用药物、口服药物、物理治疗等。外用药物如糖皮质激素、维生素D3衍生物、维A酸类药等，可减轻症状和鳞屑的产生。口服药物如免疫抑制剂、生物制剂等，可用于治疗中度至重度银屑病。物理治疗如光疗、温泉浴等，也有一定的疗效。然而，治疗方法需根据患者的具体情况制定，并在医生的指导下使用。<br>
                        扁平苔藓的治疗方法包括外用药物、口服药物、物理治疗等。外用药物如糖皮质激素、维A酸类药等，可减轻症状和炎症反应。口服药物如免疫抑制剂、抗疟药等，可用于治疗中度至重度扁平苔藓。物理治疗如光疗等，也有一定的疗效。然而，治疗方法需根据患者的具体情况制定，并在医生的指导下使用。</p>
                </div>
            </div>

            <div id="disease23">
                <h1 class="disease-title">指甲真菌</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb14.jpg') }}" alt="指甲真菌">
                <div class="disease-description">
                    <p><strong>概念:</strong>指甲真菌感染，也称为念珠菌感染或甲癣，是由真菌感染指甲所引起的疾病。它通常开始于趾甲，但也可影响手指甲。 </p>
                    <p><strong>常见病因:</strong>指甲真菌感染通常由皮肤上的真菌（如念珠菌或白色念珠菌）引起。真菌会在潮湿、温暖的环境中生长，如公共浴室、游泳池等。其他因素，如受损的指甲、受伤、某些慢性疾病（如糖尿病）、免疫系统问题等也可能增加感染的风险。</p>
                    <p><strong>常见症状:</strong>指甲真菌的症状包括指甲变厚、变形、变色、碎屑等，可能伴有疼痛和瘙痒。</p>
                    <p><strong>治疗方法:</strong>治疗指甲真菌的方法包括口服抗真菌药物、外用抗真菌药物、物理治疗等。口服药物如氟康唑、伊曲康唑等，可有效清除体内真菌。外用药物如克霉唑、特比萘芬等，可直接涂抹在感染的指甲上，起到消炎和杀菌的作用。物理治疗如光疗、激光等，也有一定的疗效。</p>
                </div>
            </div>

            <div id="disease24">
                <h1 class="disease-title">脂溢性角化病和其他良性肿瘤</h1>
                <img class="disease-image" src="{{ url_for('static', filename='img/pfb19.jpg') }}" alt="脂溢性角化病和其他良性肿瘤">
                <div class="disease-description">
                    <p><strong>概念:</strong>脂溢性角化病是一种常见的良性皮肤肿瘤，通常出现在中年或老年人的皮肤上。它们通常呈现为褐色或黑色的斑块或疣状病变，具有不同的外观特征，如粗糙的表面、呈扁平状或凸起状等。<br>
                        除了脂溢性角化病外，还有其他一些常见的良性皮肤肿瘤，如痣（痣状母斑）、皮脂腺瘤、皮脂囊肿等。</p>
                    <p><strong>常见病因:</strong>脂溢性角化病和其他良性肿瘤的常见病因包括遗传、环境因素和角质形成细胞成熟迟缓等。其他良性肿瘤的病因也各不相同，如遗传、内分泌、炎症等。</p>
                    <p><strong>常见症状:</strong>斑块或疣状病变：脂溢性角化病通常呈现为表面不平的褐色或黑色病变，可以是扁平的或凸起的。<br>
                        变化多样性：脂溢性角化病的外观特征多样，可以为圆形、卵圆形、分叶状、颗粒状等。<br>
                        轻度瘙痒：某些脂溢性角化病可能会引起轻度的瘙痒不适。</p>
                    <p><strong>治疗方法:</strong>1.手术切除：通过手术将肿瘤完全切除。<br>
                        2.冷冻疗法：利用液氮冷冻肿瘤组织，以促使其脱落。<br>
                        3.激光治疗：使用激光照射肿瘤，以切除或减少其体积。<br>
                        4.化学剥脱：使用化学物质来去除肿瘤组织。<br>
                        5.观察：对于小且无症状的良性肿瘤，医生可能会建议定期观察，以确保它们没有发生变化或引起其他问题。</p>
                </div>
            </div>

          
        </div>
    </div>
</body>
</html>
